.reset, body div#wrapper header nav ul, body div#wrapper section div#description ul.navigation, body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul, body div#wrapper footer ul {
  margin: 0;
  padding: 0; }

.button, body div#wrapper section div#description button, body div#wrapper section#second article.column button.readMore {
  border-radius: 10px;
  background-color: #0086ac;
  margin-top: 30px;
  color: white;
  font-size: 1em;
  border: none; }

.currentPage, body div#wrapper header nav ul li:hover, body div#wrapper header nav ul li.currentPage {
  background: rgba(0, 0, 2, 0.8);
  border-bottom: 3px solid #f8d900;
  color: #f8d900;
  cursor: pointer; }

.button-hover, body div#wrapper section div#description button:hover, body div#wrapper section#second article.column button.readMore:hover {
  background-color: #0096bc;
  cursor: pointer; }

body {
  color: white;
  background-image: url("../img/background.png"); }
  body div#wrapper {
    max-width: 1300px;
    margin: 0 auto; }
    body div#wrapper header {
      margin-top: 30px; }
      body div#wrapper header nav {
        overflow: hidden; }
        body div#wrapper header nav div#logo {
          width: 236px;
          height: 50px;
          float: left; }
        body div#wrapper header nav ul {
          list-style-type: none;
          float: right;
          height: 50px;
          line-height: 47px; }
          body div#wrapper header nav ul li {
            float: left;
            box-sizing: border-box;
            padding: 0 10px;
            margin-right: 10px;
            font-size: 1.2vw; }
    body div#wrapper section {
      margin-top: 30px;
      overflow: hidden; }
      body div#wrapper section div#slider {
        width: 70%;
        min-height: 500px;
        float: left;
        border-right: 7px solid #0086be;
        box-sizing: border-box;
        background: url("../img/slider.jpg") left center no-repeat;
        background-size: cover; }
      body div#wrapper section div#description {
        box-sizing: border-box;
        padding: 20px 40px;
        float: right;
        width: 30%;
        min-height: 500px;
        position: relative;
        background: -webkit-linear-gradient(left, #f5ae06 0%, #f5ae06 68%, #e6d03e 93%, #e6d03e 100%); }
        body div#wrapper section div#description p {
          font-size: 1.1em; }
        body div#wrapper section div#description button {
          padding: 25px; }
        body div#wrapper section div#description ul.navigation {
          list-style-type: none;
          position: absolute;
          bottom: 30px; }
          body div#wrapper section div#description ul.navigation li {
            float: left;
            width: 10px;
            height: 10px;
            border: 2px solid white;
            border-radius: 50%;
            margin-right: 5px; }
            body div#wrapper section div#description ul.navigation li.active {
              border: 2px solid #0086ac;
              background-color: #0086ac; }
    body div#wrapper section#second {
      overflow: hidden; }
      body div#wrapper section#second article.column {
        width: 30%;
        margin-right: 5%;
        float: left;
        background-color: rgba(0, 0, 0, 0.3); }
        body div#wrapper section#second article.column#last {
          margin-right: 0; }
        body div#wrapper section#second article.column div.img-wrapper {
          background: url("../img/boat1.jpg") left center no-repeat;
          background-size: cover;
          height: 175px; }
        body div#wrapper section#second article.column div.img-wrapper2 {
          height: 20px;
          background: url("../img/image.png") left center no-repeat;
          background-size: cover; }
        body div#wrapper section#second article.column div.content-wrapper {
          box-sizing: border-box;
          padding: 0 30px 30px 30px; }
          body div#wrapper section#second article.column div.content-wrapper h3 {
            font-size: 1.5em; }
            body div#wrapper section#second article.column div.content-wrapper h3 span {
              color: #0086ac; }
          body div#wrapper section#second article.column div.content-wrapper p {
            margin-top: 30px;
            font-size: 1.1em; }
          body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul {
            list-style-type: none; }
            body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul li:last-child {
              border: none; }
            body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul li {
              border-bottom: 1px solid #aaa; }
              body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul li p.numbers {
                float: left;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                color: #aaa;
                background: #333;
                text-align: center;
                margin: 0 20px 0 0; }
              body div#wrapper section#second article.column div.content-wrapper ul.last-column-ul li h4 {
                font-size: 1em; }
        body div#wrapper section#second article.column button.readMore {
          height: 43px;
          width: 115px; }
    body div#wrapper footer {
      margin-top: 30px;
      padding: 10px 20px;
      background: rgba(0, 0, 0, 0.3);
      overflow: hidden; }
      body div#wrapper footer ul {
        list-style-type: none;
        margin-bottom: 20px;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid white;
        overflow: hidden; }
        body div#wrapper footer ul li {
          margin-right: 20px;
          float: left;
          color: #777; }
          body div#wrapper footer ul li:hover {
            text-decoration: underline;
            cursor: pointer; }
          body div#wrapper footer ul li.first-active {
            color: red; }
      body div#wrapper footer p {
        margin: 10px 0; }
        body div#wrapper footer p.copyright {
          float: right;
          color: #777; }
      body div#wrapper footer h1 {
        color: #0086ac;
        margin: 5px 0;
        font-size: 1.8em; }

/*# sourceMappingURL=style.css.map */
