@mixin background($path, $size){
    background: url($path) left center no-repeat;
    background-size: $size;
}
.reset{
    margin:0;
    padding:0;

}

$liColor: #777;
$fontColor: white;
$buttonColor: #0086ac;
$marginTop: 30px;
$fontSize: 1.1em;
$articleBackgroundColor:rgba(0, 0, 0, 0.3);
.button{
    border-radius: 10px;
    background-color: $buttonColor;
    margin-top: $marginTop; 
    color:$fontColor;
    font-size: 1em;
    border: none;
}
.currentPage{
    background: rgba(0, 0, 2, 0.8);
    border-bottom: 3px solid #f8d900;
    color: #f8d900;
    cursor: pointer;
}
.button-hover{
    background-color: #0096bc;  
    cursor: pointer;
}
body{
    color: $fontColor;
    background-image: url('../img/background.png');
    div#wrapper{
        max-width: 1300px;
        margin: 0 auto;
        header{
            margin-top: $marginTop;
            nav{
                overflow:hidden;
                div#logo{
                    width:236px;
                    height: 50px;
                    float:left;
                }
                ul{
                    @extend .reset;
                    list-style-type: none;
                    float:right;
                    height:50px;
                    line-height: 47px;
                    li{
                        float:left;
                        box-sizing: border-box;
                        padding: 0 10px;
                        margin-right: 10px;
                        font-size: 1.2vw;
                        &:hover{
                            @extend .currentPage;
                        }
                        &.currentPage{
                            @extend .currentPage;
                        }
                    }
                }
            }
        }
        section{
            margin-top: $marginTop;
            overflow:hidden;
            div#slider{
                width:70%;
                min-height:500px;
                float:left;
                border-right: 7px solid #0086be;
                box-sizing: border-box;
                @include background('../img/slider.jpg', cover);
            }
            div#description{
                box-sizing: border-box;
                padding:20px 40px;
                float:right;
                width:30%;
                min-height:500px;
                position:relative;
                background:  -webkit-linear-gradient(left, rgba(245,174,6,1) 0%, rgba(245,174,6,1) 68%, rgba(230,208,62,1) 93%, rgba(230,208,62,1) 100%);
                p{
                    font-size:$fontSize;
                }
                button{
                    @extend .button;
                    padding:25px;
                    &:hover{
                        @extend .button-hover;
                    }
                }
                ul.navigation{
                    list-style-type: none;
                    position:absolute;
                    bottom:30px;
                    @extend .reset;
                    li{
                        float:left;
                        width:10px;
                        height:10px;
                        border: 2px solid white;
                        border-radius: 50%;
                        margin-right: 5px;
                        &.active{
                            border: 2px solid $buttonColor;
                            background-color:$buttonColor; 
                        }
                    }
                }
            }
        }
        section#second{
            overflow:hidden;
            article.column{
                width:30%;
                margin-right: 5%;
                float:left;
                background-color: $articleBackgroundColor;
                &#last{
                    margin-right: 0;
                }
                div.img-wrapper{
                    @include background('../img/boat1.jpg', cover);
                    height:175px;
                }
                div.img-wrapper2{
                    height: 20px;
                    @include background('../img/image.png', cover); 
                }
                div.content-wrapper{
                    box-sizing: border-box;
                    padding: 0 30px 30px 30px;
                    h3{
                        font-size: 1.5em;
                        span{
                            color:$buttonColor;
                        }
                    }
                    p{
                        margin-top:30px;
                        font-size: $fontSize;
                    }
                    ul.last-column-ul{
                        @extend .reset;
                        list-style-type: none;
                        & li:last-child{
                            border:none;
                        }
                        li{
                            border-bottom:1px solid #aaa;

                            p.numbers{
                                float:left;
                                width:40px;
                                height:40px;
                                line-height: 40px;
                                border-radius: 50%;
                                color:#aaa;
                                background: #333;
                                text-align: center;
                                margin:0 20px 0 0;

                            }
                            h4{
                                font-size: 1em;
                            }


                        }
                    }

                }
                button.readMore{
                    height: 43px;
                    width:115px;  
                    @extend .button;
                    &:hover{
                        @extend .button-hover;
                    }
                }
            }
        }
        footer{
            margin-top:$marginTop;
            padding: 10px 20px;
            background: $articleBackgroundColor;
            overflow:hidden;
            ul{
                @extend .reset;
                list-style-type: none;
                margin-bottom: 20px;
                padding:15px 0 15px 0;
                border-bottom: 1px solid white;
                overflow:hidden;
                li{
                    margin-right: 20px;
                    float:left;
                    color:$liColor;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    &.first-active{
                        color:red;

                    }
                }
            }
            p{
                margin:10px 0;
                &.copyright{
                    float:right;
                    color: $liColor;
                }
            }
            h1{
                color: $buttonColor;
                margin: 5px 0;
                font-size: 1.8em;
            }
        }
    }
}
